<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="YtbDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <YtbDownloader.Properties.Settings>
            <setting name="IsProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputDir" serializeAs="String">
                <value />
            </setting>
            <setting name="DownloadUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="IsAudioOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsPlaylist" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsYouGet" serializeAs="String">
                <value>False</value>
            </setting>
        </YtbDownloader.Properties.Settings>
    </userSettings>
</configuration>